* {
    font-family: 'IBM Plex Sans', sans-serif, 'IBM Plex Sans KR', sans-serif;
}

.convert {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.convert-row {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.convert-div {
    flex: 0 0 auto;
}

.convert-border {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem
}

.convert-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif, 'IBM Plex Sans KR', sans-serif;
}

.convert-title {
    color: #FD9F28;
    text-align: center;
    font-size: 2rem;
}

.convert-content {
    color: #6c757d;
    text-align: center;
    font-size: 1rem;
}

.convert-group-div {
    justify-content: center;
}

.convert-img,
.convert-img-top,
.convert-img-bottom {
  width: 100%;
  height: 400px;
}

.painting-img {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}